.App {

    .btn {
        border: 1px solid white;
        border-radius: 30px;
        padding: 10px 25px;
        font-size: 18px;
        font-weight: 600;
        color: white;
        margin-top: 15px;
        // transition: all .3s ease-in-out;


        // &:hover {
        //     //color: #a55eea;
        //     background-color: $fontColor;
        //     // border: 1px solid rgba($fontColor, 1);
        // }
    }

}