.order {
    padding: 220px 0 240px 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .order-title {
            font-size: 18px;
            font-weight: 500;
        }

        .item {
            margin-bottom: 8px;
        }
    }
}